@import "~bulma"

#background
  background-color: red
  animation: backTransition 60s infinite

@keyframes backTransition
  0%
    background-color: #E8CBC0
  50%
    background-color: #636FA4
  75%
    background-color: #43C6AC
  100%
    background-color: #E8CBC0